/* PANEL */
.Panel {
    width: 100%;
    height: 100%;
    /* background-color: rgb(255, 0, 0);     */
    color: black;
}

@media (min-width:600px) {
    .Panel {
        /* border: black 1px solid; */
        width: 20%;
        height: 100%;
        background-color: rgb(255, 255, 255);
        color: black;
        float: left;        
    }
}